<p>inlinestyle works!</p>
<p>ng g c inlinestyle --inline-style</p>

<br>

<b><p>Custom Pipe Creation</p></b>
<p>ng g p pipe_name</p>
<p>ts and spec.ts gets created</p>
<p>  name: 'reverse'</p>
<p>  use this name as ull use buildin pipe</p>

<br>

<b>Interpolation Vs Property Binding</b>
<p>Interpolation : For text and its manipulation</p>
<p>Property Binding : For binding a value like True / False</p>

<b>Doubts</b>
<p>Is it case Sensitive>?</p>
<p>What type of case we need to use for methods and variables and classes etc.... in it?</p>