<!-- Router Outlet for Routing -->
<!-- <a routerLink = "">Home</a><br>
<a routerLink = "inline">Inline</a><br>
<a routerLink = "style">Style</a><br>
<a routerLink = "template">Template</a> -->

<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>GBasics</span>
  <span class="example-spacer"></span>
  <button mat-button routerLink = "">Home</button>
  <button mat-button routerLink = "about">About</button>
  <button mat-button routerLink = "template">Template</button>
  <button mat-button routerLink = "style">Style</button>
  <button mat-button routerLink = "inline">Both</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>inline</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>style</mat-icon>
  </button>
</mat-toolbar>


<router-outlet></router-outlet>


<!-- Material Card Example -->
<mat-card appearance="outlined">
  <!-- Displays title in uppercase using the Uppercase Pipe -->
  <mat-card-title style="color: aliceblue;">
    <span>{{ title | uppercase }}</span>
  </mat-card-title>

  <!-- Simple Content -->
  <mat-card-content style="color: aliceblue;">Simple card</mat-card-content>
</mat-card>

<!-- Header Component -->
<app-header></app-header>

<!-- Navigation Component -->
<app-navigation></app-navigation>

<!-- Home Component -->
<app-home></app-home>

<!-- Date Pipe Examples: Formats a Date Object -->
<span>{{ today }}</span> <!-- Default date value -->
<br>
<span>{{ today | date }}</span> <!-- Default Angular date format -->
<br>
<span>{{ today | date: 'dd/MM/yyyy' }}</span> <!-- Custom date format -->

<!-- Currency Pipe Examples: Formats numbers as currency -->
<span>{{ salary | currency }}</span> <!-- Default currency (e.g., USD) -->
<br>
<span>{{ salary | currency: 'INR' }}</span> <!-- Formats as Indian Rupees -->
<br>
<span>{{ salary | currency: 'EUR' }}</span> <!-- Formats as Euros -->

<!-- Decimal (Number) Pipe Examples: Formats numbers with decimal places -->
<span>{{ salary | number: '1.2-2' }}</span> <!-- 2 decimal places (min 2, max 2) -->
<br>
<span>{{ salary | number: '1.3-3' }}</span> <!-- 3 decimal places (min 3, max 3) -->

<!-- Percent Pipe Example: Converts number to percentage -->
<span>{{ salary / 100 | percent }}</span> <!-- Displays salary as percentage -->

<!-- JSON Pipe Example: Converts object to JSON string -->
<span>{{ objects }}</span> <!-- Raw object -->
<br>
<span>{{ objects | json }}</span> <!-- JSON-formatted object -->

<!-- Custom Pipe Example -->
<span>{{ title | reverse }}</span> <!-- Custom pipe (e.g., reverse string) -->

<!-- Property Binding Examples -->
<input type="checkbox" [disabled]="isdisabled"> <!-- Disables checkbox dynamically -->
<input type="checkbox" checked="{{ isdisabled }}"> <!-- Interpolation (not ideal for boolean) -->
<input [value]="isdisabled"> <!-- Property binding to display value -->

<!-- Event Binding Example -->
<input (keyup)="UpdateTitle($event)" /> <!-- Updates title on keyup -->

<!-- Two-way Data Binding -->
<input [(ngModel)]="title" /> <!-- Synchronizes input with title -->

<!-- Button with Event Binding -->
<button (click)="ChangeTitle()">Click Here</button> <!-- Calls ChangeTitle on click -->

<!-- Inline Style Component -->
<app-inlinestyle></app-inlinestyle>

<!-- Footer Component -->
<app-footer></app-footer>

<!-- main.ts:5  ERROR RuntimeError: NG04002: Cannot match any routes. URL Segment: 'customer/edit/1000/l -->
 <!-- Ull encounter the above error if u give some inappropriate routes. -->