<router-outlet />
<mat-card appearance="outlined">
  <mat-card-title style="color: aliceblue;"><span>{{title | uppercase}}</span></mat-card-title>
  <mat-card-content style="color: aliceblue;" >Simple card</mat-card-content>
</mat-card>
<app-header></app-header>
<app-navigation></app-navigation>
<app-home></app-home>
<span>{{today}}</span>
<br>
<span>{{today | date}}</span>
<br>
<span>{{today | date:'dd/mm/yyyy'}}</span>
<br>
<span>{{salary | currency}}</span>
<br>
<span>{{salary | currency:'INR'}}</span>
<br>
<span>{{salary | currency:'EUR'}}</span>
<br>
<span>{{salary | number:'1.2-2'}}</span>
<br>
<span>{{salary | number:'1.3-3'}}</span>
<br>
<span>{{salary/100 | percent}}</span>
<!-- /100 is optional -->
<br>
<span>{{objects}}</span>
<br>
<span>{{objects | json}}</span>
<br>
<span>{{title | reverse}}</span>
<br>
<input type="checkbox" [disabled]="isdisabled">
<!-- instead of disabled u can use checked as well -->
<input type="checkbox" checked = {{isdisabled}}>
<!-- as we used interpolation it doesn't work properly like everytime it takes as true and stay checked -->
<input [value]="isdisabled">
<br>
<input (keyup)="UpdateTitle($event)"/>

<button (click)="ChangeTitle()">Click Here</button>

<input [(ngModel)]="title"/>
<app-inlinestyle></app-inlinestyle>
<app-footer></app-footer>
